<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nosotros - Aikarubi Freelancer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="../assets/normalize.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
    <link rel="preload" href="../assets/nosotros.css" as="style">
    <link href="/assets/styles.css" rel="stylesheet">
</head>

<body>
    <header>
        <h1 id="titulo">Aikarubi <span>Freelancer</span></h1>
    </header>

    <div class="nav-bg">
        <nav class="navegacion-principal contenedor">
            <a href="../index.html">Inicio</a>
            <a href="nosotros.html">Nosotros</a>
        </nav>
    </div>

    <main class="contenedor-nosotros sombra">
        <h2>Sobre Nosotros</h2>

        <section class="contenido-nosotros">
            <div class="imagen">
                <img src="../assets/img/us.jpg " alt="Imagen sobre nosotros">
            </div>
            <div class="texto-nosotros">
                <h3>¿Quiénes somos?</h3>
                <p>Pellentesque eget tellus sit amet elit pretium maximus. Donec nisl elit, convallis pharetra vulputate ut, consequat ut nisi. Ut sed fringilla eros. Aenean finibus, sem et tincidunt hendrerit, eros libero accumsan metus, id semper justo nisl vitae leo. Vivamus efficitur, sapien quis egestas lobortis, lorem ante congue neque, quis luctus magna nisl ut arcu. Pellentesque tristique, nisi in tempus hendrerit, lorem nisi euismod massa, sit amet auctor arcu orci a sem. </p>
                <p>Etiam id interdum risus. Morbi nec vestibulum nisl. Cras pharetra, metus et dignissim consequat, arcu ligula tempus neque, in tristique diam neque eget velit. Duis porta in libero sit amet sagittis. Aenean et magna porta, congue mauris id, euismod sem. Integer quis feugiat magna. Nulla facilisi.</p>
                <p>In vel sollicitudin augue. In pretium pulvinar commodo. Curabitur eros ligula, efficitur vel consectetur non, sodales nec nisl. Curabitur et ante erat. Integer non arcu cursus, pellentesque mauris nec, ullamcorper justo. Aenean a ullamcorper odio. Cras cursus tincidunt nulla, at tempus mi eleifend non. Praesent vitae nulla ac enim mattis elementum nec ut lacus. Proin egestas diam est, quis scelerisque sem tristique vitae.</p>
            </div>
        </section>
    </main>

    <footer class="footer">
        <p>Todos los derechos reservados. Aikarubi Freelancer.</p>
    </footer>
</body>

</html>
